RewriteEngine On
# Activa el motor de reescritura de URLs

RewriteCond %{REQUEST_FILENAME} !-f
# Si el archivo solicitado NO existe físicamente...

RewriteRule ^ index.php [QSA,L]
# Redirige la petición a index.php (controlador frontal)
# QSA: añade los parámetros originales
# L: última regla si coincide

